@charset "UTF-8";
/* -----화면기본셋팅------ */
.searchbar{
	width: 100%;
	height: 150px;
	padding-top: 20px;
}
.body{
	width: 100%;
	height: 80%;
}
.selectBox{
	float: left;
	width: 300px;
	height: 700px;
	text-align: left;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 3px gray;
}
.list_contents{
	float: left;
	width: 500px;
	height: 100%;
}
.map_contents{
	float: left;
	width: 680px;
	height: 800px;
}
/* --------------- */

/* 검색창 */
#search_box{
	width: 600px;
	height: 90px;
	background-color: gray;
}
.inputBox{
	border-color: white;
	border-right-color: #D8D8D8;
	margin-right: 10px;
}
#daterange{
	border-color: white;
}

/* selectBox */
.subjects{
	font-weight: bold;
	font-size: 13px;
}
._category, ._price, ._time, ._order{
	margin-top: 20px;
	margin-left: 15px;
}

/* 지도검색 */
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 160px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 150px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info .link {color: #5085BB;}